<app-post-modal *ngIf="modal.showModal" (closeModalEvent)="closeModal()"></app-post-modal>

<div class="navbar">
  <div class="sidebar">
    <ul class="container">
      <div class="user-header" routerLinkActive [routerLink]="['/user']">
        <li>
          <div>
            <img alt="alt" *ngIf="currentUser" src="{{currentUser.profileImageUrl}}" class="social-card-user-image" />
          </div>
          <div>
            <p class="nav-text mt-2 " *ngIf="currentUser">{{currentUser.username}}</p>
          </div>
        </li>
      </div>
      <div class="sideIcon">
        <li routerLinkActive [routerLink]="['/home']">
          <a>
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <i class="bi bi-house"></i>
              </div>
              <div>
                <span class="nav-text text-center">Home</span>
              </div>
            </div>
          </a>
        </li>

        <li class="has-subnav bisearch">
          <a>
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <a href="https://github.com/DepasqualeAndrea"><i class="bi bi-github"></i></a>
              </div>
              <div>
               <a href="https://github.com/DepasqualeAndrea"><span  class="nav-text text-center">Git Hub</span></a>
              </div>
            </div>
          </a>
        </li>

        <li class="has-subnav">
          <a>
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <a href="https://www.linkedin.com/in/andrea-de-paquale-002014291/?locale=it_IT"><i class="bi bi-linkedin" ></i></a>
              </div>
              <div>
                <a href="https://www.linkedin.com/in/andrea-de-paquale-002014291/?locale=it_IT"><span  class="nav-text text-center">Linkedin</span></a>
              </div>
            </div>
          </a>
        </li>

        <li>
          <a (click)="openModal()">
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <i class="bi bi-plus-square"></i>
              </div>
              <div>
                <span class="nav-text text-center">Crea</span>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="logout">
        <li (click)="logout()">
          <a>
            <i class="bi bi-power"></i>
            <span class="nav-text">Logout</span>
          </a>
        </li>
      </div>

    </ul>
  </div>
</div>
