<div id="overlay" (click)="closeModal()"></div>
<div id="container" class="d-flex">
  <div id="modale" class="modal-container">
    <div class="social-card-header">
      <img *ngIf="currentUser" src="{{currentUser.profileImageUrl}}" loading="lazy" class="social-card-user-image" />
      <a class="social-card-user-name">{{ currentUser?.username }}</a>
    </div>
    <div class="modal-content">
      <form #form="ngForm" class="text-light" enctype="multipart/form-data">
        <div>
          <label for="description" class="text-start mb-3">Descrizione</label>
          <textarea cols="30" rows="5" type="text" name="description" id="description" class="form-control"
            placeholder="Scrivi qua la descrizione del tuo post" required ngModel></textarea>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-3">
          <div class="input-div my-4">
            <input class="input" type="file" accept="image/*" id="Image" name="Image" (change)="onFileSelected($event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round"
              stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"
              class="icon">
              <polyline points="16 16 12 12 8 16"></polyline>
              <line y2="21" x2="12" y1="12" x1="12"></line>
              <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
              <polyline points="16 16 12 12 8 16"></polyline>
            </svg>
          </div>
          <div>
            <p>Carica un immagine</p>
          </div>
        </div>
        <div class="d-flex">
          <div>
            <button type="submit" [disabled]="form.invalid" class="btn mt-4" (click)=" confermaCreazionePost(form)">
              Crea Post 💚
            </button>
          </div>
          <div>
            <button type="button" class="btn mt-4" (click)="closeModal()">Annulla</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
