<app-modal *ngIf="modal.showModal" (closeModalEvent)="closeModal()" [selectedPostId]="selectedPostId"></app-modal>
<app-nav></app-nav>
<div class="container d-flex justify-content-center">
  <div class="wrapper">
    <div class="profile-card js-profile-card">
      <div class="d-flex justify-content-center align-items-center profile-card__container">
        <div class="profile-card__img">
          <img [src]="User?.profileImageUrl" alt="profile card">
        </div>
        <div class="profile-card__cnt js-profile-cnt">
          <div class="profile-card__name">{{User?.nome}} {{User?.cognome}}</div>
          <div class="profile-card__name mb-4">@{{User?.username}}</div>
          <div class="profile-card-loc">
            <span class="profile-card-loc__txt">
             Attualmente a {{User?.citta}} /
            </span>
            <span class="profile-card-loc__txt">
              Nato il: {{User?.dataDiNascita}}
             </span>
            <hr class="my-4">
          </div>
          <h6 class="text-start">Bio:</h6>
          <div class="profile-card__txt text-start"><strong>{{User?.bio}}</strong></div>
          <hr class="my-1">
          <div class="profile-card-ctr" >
            <button class="profile-card__button button--orange" (click)="toggleFollowing(User?.userId, currentUser?.userId)">{{ isFollowingUser ? 'Segui già' :'Segui'  }}</button>
          </div>
        </div>
      </div>

      <div class="profile-card-message js-message">
        <form class="profile-card-form">
          <div class="profile-card-form__container">
            <textarea placeholder="Say something..."></textarea>
          </div>

          <div class="profile-card-form__bottom">
            <button class="profile-card__button button--blue js-message-close">
              Send
            </button>

            <button class="profile-card__button button--gray js-message-close">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex flex-column justify-content-center">
  <div class="profile-card-inf">
    <div class="profile-card-inf__item" >
      <div class="profile-card-inf__title">Followers {{ User?.followers?.length }}</div>
    </div>

    <div class="profile-card-inf__item">
      <div class="profile-card-inf__title">Posts {{ User?.posts?.length }}</div>
    </div>

  </div>
  <hr class="container">

  <div class="feed-home-page d-flex flex-wrap container gap-3">
    <div class="card-posts" *ngFor="let post of userPosts; let i = index">
      <img src="{{post.postImageUrl}}" alt="">
      <div class="overlay" (click)="openModal(post.postId, post.userId)"></div>
      <button class="card-btn" (click)="like(post.postId)"><i class="bi bi-heart"></i></button>
    </div>
  </div>
</div>

